<style>
.actionBtn{
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.16), 0 2px 10px rgba(0, 0, 0, 0.12);
    background-color: white;
    border: none;
    padding: 5px 10px 5px 10px;
}
h3{
  color:black;
}
.center{
  text-align:center
}
</style>
    <div class="row clearfix">
        <div class="col-md-8 card-header">
          <h3>Action Details</h3>
        </div>
        <div class="col-md-4 card-header" style="margin-top:20px;margin-bottom: 15px;">
             <span class="input-icon">
               <input type="text" name="searchActionName" placeholder="Search by Action Name..."
               class="form-control" data-ng-model="data.search" ng-keyup="searchByActionName(data.search)">
                <i class="fa fa-search gray"></i>
            </span>
        </div>
    </div>
    <div class="col-md-12" ng-if="can('ACTION_CREATE')">
        <button class="btn btn-float bgm-green m-btn" id="addNewAction" ng-click="AddNewAction('ADD',{})" title="Add Action">
            <i class="zmdi zmdi-plus"></i>
        </button>
    </div>
    <div class="col-md-12 tableContentBackGround" ng-if="!tableData || tableData.length < 0">
            <div class="col-md-10" style="text-align: center;overflow: hidden;">
                <div class="loader">Loading...</div>
                <span>please wait while we load data </span>
            </div>
    </div>
    <div class="col-md-12 tableContentBackGround" ng-if="tableData.length > 0">
      <div class="col-md-12">
         <table  class="table table-responsive table-condensed table-hover"  id="actionlistTable">
            <thead>
                <tr>
                    <td><b>#</b></td>
                    <td><b>Id</b></td>
                    <td><b>Institution Id</b></td>
                    <td><b>Is Active</b></td>
                    <td><b>Action Name</b></td>
                    <td><b>Action Alias</b></td>
                    <td class="center"><b>Action</b></td>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="item in tableData track by $index">
                  <td>
                      <span>
                         {{$index+1}}
                      </span>
                  </td>
                    <td>
                        <span>
                           {{item.id}}
                        </span>
                    </td>
                    <td>
                        <span>
                           {{item.iInstId}}
                        </span>
                    </td>
                    <td>
                        <!-- <span ng-if="can('ACTION_STATUS')">
                            <div class="toggle-switch" data-ts-color="green">
                                <input id="isActiveAction" type="checkbox" ng-model="item.bActive" ng-change="enableDisableAction(item)">
                                <label class="ts-helper"></label>
                            </div>
                        </span>
                        <span ng-if="!can('ACTION_STATUS')"> -->
                          {{item.bActive}}
                        <!-- </span> -->
                    </td>
                    <td>
                        <span>
                           {{item.sActionName}}
                        </span>
                    </td>
                    <td>
                        <span>
                           {{item.sActionAlias}}
                        </span>
                    </td>
                    <td class="center">
                        <div style="width:100%; text-align: center;">
                             <button class="actionBtn" ng-click="AddNewAction('EDIT',item)" title="Edit" ng-if="can('ACTION_UPDATE')">
                                <i class="zmdi zmdi-edit add" ></i>
                            </button>
                            <button class="actionBtn" title="Delete" ng-click="deleteActionName(item.sActionName)" ng-if="can('ACTION_DELETE')">
                                <i class="zmdi zmdi-delete add"></i>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="col-md-12">
        <ul uib-pagination boundary-links="true" total-items="total_items" ng-model="currentPage" class="pagination-sm"
        previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;" items-per-page="size"
        ng-change="fetchAllActions(currentPage,size)" max-size="5"  ng-if="tableData.length>0" style="float: left;"></ul>

        <div class="col-md-6 page-num-info" ng-if="tableData.length == size">
             <span>
             Show &nbsp;
             <select data-ng-model="size" data-ng-options="num for num in itemPerPageMeta"
             ng-change="fetchAllActions(currentPage,size)">
             </select>
             {{itemPerPage}}
             entries per page
         </span>
       </div>
    </div>
  </div>
  <div ng-if="tableData.length == 0" style="text-align:center;margin-top: 30px;">
    <label>No Data Found...</label>
 </div> 
